*.o
*.lo
*.la
*.lai
*.so*
*~

/tpafd
/tpaftest
*.png
.libs/tpafd

.deps

/m4
/Makefile
/Makefile.in
/aclocal.m4
/autogen.sh
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
.dirstamp
/install-sh
/libtool
/ltmain.sh
/missing
.dirstamp
